body {
    background-color: #D3D3D3;
    font-size: 20px;
}

header {
    background-color: #e5c1c1;
    padding: 20px;
    margin: 20px;
}

#delete_stores
, #delete_brands {
    margin-top: -53px;
    float: right;
    }

#delete_all {
    margin-left: 480px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
}

.btn {
    border-radius: 5px;
}
